<h1><%=@recipe.name%></h1>

<%if check_user(@recipe.user) %>
<%= form_tag edit_user_recipe_path(current_user, @recipe), :method => :get%>
<%= submit_tag 'Edit Recipe' %>
<%end%>

<%if check_user(@recipe.user)%>
<%= form_tag "/users/#{current_user.id}/recipes/#{@recipe.id}", :method => :delete%>
<%= submit_tag 'Delete Recipe' %>
<%end%>

<h3><%=link_to @recipe.user.username, user_path(@recipe.user)%>'s Recipe</h3>
<h3><%=link_to @recipe.sub_style.name, sub_style_path(@recipe.sub_style) %></h3>

<%information(@recipe).each do |item|%>
<li><%=item%></li>
<%end%>

<h4>Ingredients</h4>
<%ingredients(@recipe).each do |ingredient|%>
<li><%=ingredient%></li>
<%end%>

<h4>Intructions:</h4>
<%=@recipe.description%>
